@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body{
    background-color: black;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.sections-container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 2000px;
}


/* Section one styles */

.section-one{
    flex: 1;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: space-between;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;
    margin: 0 40px;
}

.logo{
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.navbar{
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.hero-content{
    max-width: 75%;
    flex: 1;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 60px;
}

.left-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    width: 30%;
}

.right-content{
    width: 450px;
    height: 184px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: pink;
}

.hero-image{
    background-size: cover;
    overflow: hidden;
}

.hero-maintext{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.navbar a,
.hero-secondarytext,
.description{
    font-size: 18px;
    color: #E5E7EB;
}

.signup-button{
    background-color: #3882f6;
    color: #f9faf8;
    width: 130px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    border: none;
    margin-top: 5px;
}

.signup-button:hover{
    background-color:rgba(212, 211, 211, 0.5);
}

.signup-button:active{
    background-color:rgb(138, 136, 136);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #b7b7b9; 
}

a:active{
    color: #878788; 
}


/* Section two styles */
.section-two{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9faf8;
    padding-bottom: 50px;
}

.info-header{
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.cards-container{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 100px;
    margin: 0 auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.card img{
    display: flex;
    min-width: none;
    max-width: 80%;
    border: 4px solid #3882f6;
    border-radius: 20px; 
}

.description{
    color: #1f2937;
    max-width: 100%;
    line-height: 20px;
}

.project-title{
    font-weight: bold;
    font-size: 22px;
}


/* Section three styles */
.section-three{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    gap: 40px;
}

.social-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}


/* Section four styles */
.section-four{
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
}

.cta-container{
    max-width: 80%;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    padding: 50px 125px;
    gap: 40px;
    border-radius: 10px;
}

.cta-header{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.cta-body{
    font-size: 18px;
    color: #E5E7EB;
}

.cta-container .signup-button{
    width: 160px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 900;
    font-size: 20px;
}

/* Footer styles */
.footer{
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #E5E7EB;
}

a{
    color: rgb(53, 53, 53);
}
